<div class="col-md-6" ng-controller="TransactionsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h1 class="panel-title">
        <i class="glyphicon glyphicon-transfer"></i>
        &nbsp;
        Son İşlemler
      </h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-turkish-lira" style="font-size:18px"></i></th>
              <th><i class="glyphicon glyphicon-bitcoin" aria-hidden="true"></i></th>
              <th>İşlem Tarihi</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions">
              <td>
                {{ transaction.attributes.try }}
              </td>

              <td>
                {{ transaction.attributes.btc }}
              </td>

              <td>
                {{ transaction.attributes.created_at }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
