<div class="row" ng-controller="SessionsCtrl">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header">Oturum Aç</h1>

    <div class="panel panel-danger" ng-show="errors">
      <div class="panel-heading">
        <h3 class="panel-title">Aşağıdaki hatalardan dolayı devam edilemiyor:</h3>
      </div>

      <div class="panel-body">
        <ul>
          <li ng-repeat="error in errors">
            {{ error }}
          </li>
        </ul>
      </div>
    </div>

    <form ng-submit="login()" method="POST">
      <div class="form-group">
        <label for="user[email]">Email adresiniz</label>
        <input ng-model="user.email" type="email" class="form-control" id="user[email]" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="user[password]">Parolanız</label>
        <input ng-model="user.password" type="password" name="password" id="user[password]" class="form-control" placeholder="Parola">
      </div>

      <a ui-sref="sign_up">Kayıt Ol</a>

      <button type="submit" class="btn btn-default">Devam</button>
    </form>


  </div>
</div>
