<div class="row" ng-controller="OrderFormCtrl">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-header">Yeni Emir Ekle</h1>

    <form class="form-horizontal" ng-submit="sendForm()">
      <div class="panel panel-danger" ng-show="errors">
        <div class="panel-heading">
          <h3 class="panel-title">Aşağıdaki hatalardan dolayı devam edilemiyor:</h3>
        </div>

        <div class="panel-body">
          <ul>
            <li ng-repeat="error in errors">
              {{ error.source.pointer }} {{ error.detail }}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="order.order_type" class="col-sm-2 control-label">Emir Tipi</label>
        <div class="col-sm-10">
          <select ng-model="order.order_status" class="form-control" id="order_status">
            <option value="buy">ALIM</option>
            <option value="sell">SATIM</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Fiyat</label>

        <div class="col-sm-10">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-turkish-lira" style="font-size:18px"></i>
            </div>

            <input ng-model="order.price" type="text" class="form-control" id="price" placeholder="1500">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="amount" class="col-sm-2 control-label">Miktar</label>

        <div class="col-sm-10">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-bitcoin" aria-hidden="true"></i>
            </div>

            <input ng-model="order.amount" class="form-control" id="amount" placeholder="0.75">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-8 col-sm-4">
          <button type="submit" class="btn btn-default btn-block btn-lg">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>

            <!-- <i class="glyphicon glyphicon-ok" aria-hidden="true"></i> -->
            Onayla
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
