<div class="row" ng-show="alert">
  <div class="col-md-6 col-md-offset-3">
    <br /><br />

    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" ng-click="alert = ''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1><i class="glyphicon glyphicon-bell" aria-hidden="true"></i></h1>

      <p class="lead">{{ alert }}</p>
    </div>
  </div>
</div>
